/* #772CFF */

*{
    margin: 0;

}
body{
    background-color: #261e33;
    font-family: 'Encode Sans', sans-serif;
    position: relative;
    padding-bottom: 60px;
    
}

nav{
    display: flex;
    background-color: #54456e;
    height: 50px;
    border-bottom: 2px solid #67636d85;
    justify-content: space-between;
    align-items: center;
}

.logosoft{
    width: 50vw;
    transition: transform 3s;
    margin-top: 5px;
    display: flex;
    justify-content: left;
    width: fit-content;
}
.logosoft img{
    width: 100%;
}

.links{
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.links a{
    display: flex;
    text-decoration: none;
    color: rgb(182, 175, 248);
    align-items: center;
    transition: 1s;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    border: rgba(15, 13, 9, 0);
    font-size: 1.2rem;
    width: 11.12vw;
    min-width:max-content;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    


}

.links a:hover{
    background-color: #4033558f;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 1.23rem;
    border: #847b94 1px solid;
    border-right: 1px rgba(255, 255, 255, 0.459) solid;
    border-left: 1px rgba(255, 255, 255, 0.466) solid;
}

nav img{
    height: 40px;
    margin-left: 10px;
}


#conteiner{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

#conteiner div{
    background-color: #54456e;
    border: 2px #716780 solid;
    margin-top: 7px;
    width: 640px;
    display: flex;
    flex-direction: column;
}

iframe{
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    min-width: 96%;
    min-height: 360px;
}

h2{
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 5px;
    background-color: #231f2b;
    border: 2px #6c607a solid;
    color: rgb(182, 175, 248);
    

}

footer{
    border-top: 2px solid #67636d85;
    position: absolute;
    background-color:#54456e;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}