*{
    margin: 0px;
}
body{
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
    
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px rgba(0, 0, 0, 0.205) solid;

}
nav{
    display: flex;
}

header li{
    text-decoration: none;
    list-style: none;
    margin-right: 10%;
    width: 10vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-size: 1.5rem;
    transition: 0.5s;
    border-bottom: 5px solid rgba(0, 0, 255, 0);
}

header li:hover{
    border-bottom: 5px solid rgb(255, 0, 0);
    letter-spacing: 5px;
}


aside li{
    text-decoration: none;
    list-style: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    height: 50px;
}

section{
    display: flex;
    justify-content: space-between;
}

#conteudo{
    height: 100vh;
}

article>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(0, 0, 0, 0.13);
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.cabeçalhoArtigo{
    background-color: rgba(236, 236, 238, 0.432);
    border-bottom:4px solid rgb(189, 185, 185);
}

.footerArtigo{
    margin-top: 10px;
}
#asideLeft{
    display: flex;
    width: 400px;
    justify-content: center;    
}

#asideLeft>div{
    width: 170px;
}
#asideRight{
    display: flex;
    width: 400px;
    justify-content: center;
}

#asideRight>div{
    width: 170px;
}

.headernews{
    height: 40px;
    background-color: rgba(224, 224, 224, 0.171);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.123);
}

aside li{
    box-sizing: border-box;
    margin-top: 5px;

}
