*{
    margin: 0px;
}
body{
    background-color: rgb(245, 239, 255);
    
}

header{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    border: 1px red solid;
}

li{
    text-decoration: none;
    list-style: none;
    margin-right: 10vw;
    background-color: pink;
    width: 10vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

section{
    display: flex;
    border: 1px blue solid;
    justify-content: space-between;
}
#novmes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(223, 225, 252);
    border: solid 1px black;
}

#conteudo{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

article{
    align-self: center;
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: rgb(242, 242, 243);
    border: 3px solid rgb(196, 194, 194);
    margin-bottom: 20px;
}
.cabeçalhoArtigo{
    background-color: rgb(236, 236, 238);
    border-bottom:4px solid rgb(117, 117, 117);
}
#asideLeft{
    display: flex;
    width: 400px;
    justify-content: center;    
    border: 2px green solid;
}

#asideLeft>div{
    width: 170px;
    border: 2px red solid;
}
#asideRight{
    display: flex;
    width: 400px;
    justify-content: center;
    border: 2px green solid;
}

#asideRight>div{
    width: 170px;
    border: 2px red solid;
}

.headernews{
    height: 40px;
    background-color: rgb(223, 225, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}

div>li{
    box-sizing: border-box;
    background-color: rgb(242, 242, 243);
    margin-top: 5px;
    border: 2px solid rgb(97, 97, 97);

}
