
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
     
  }
  main{
     border: 5px solid rgba(0, 0, 0, 0.555);
     width: 500px;
     height: 500px;
     border-radius: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(180, 178, 178)
  }
  #externo{
   border: 5px solid rgba(0, 0, 0, 0.37);
   width: 500px;
   height: 400px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(202, 196, 196)

  }
  #interno{
   border: 5px solid rgba(0, 0, 0, 0.733);
   width: 500px;
   height: 280px;
   border-radius: 100%;
   background-color: rgb(245, 245, 245);
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
  h1{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 130px;
     height: 130px; 
     border: 7px solid rgb(56, 56, 56);
     border-radius: 100%;
     padding: 30px;
     margin: 5px;
     background-color: rgb(0, 0, 0);
     font-size: 3rem;
     color: chartreuse;
  }
  
  footer{
     width: 400px;
     height: 50px;
     border: 1px black solid;
     border-top-right-radius: 80%;
     border-top-left-radius: 80%;
     display: flex;
     justify-content: center;
     background-color: rgb(29, 29, 29)

  }

  footer div{
   width: 380px;
   height: 30x;
   border: 5px rgba(0, 0, 0, 0.603) solid;
   border-top-right-radius: 100%;
   border-top-left-radius: 100%;
   background-color: rgb(153, 150, 150)

  }
